/*---------------------------------

  投稿ページ用CSS

---------------------------------*/

body {
    background-color: #FAFAF3;
    color: #24362B;
}

.contents {
    color: #24362B;
    font-weight: 700;
    margin: 6vw 0 12vw 0;
}

@media screen and (max-width: 480px) {
    .contents {
        font-size: 1vw;
        margin: 0;
    }
    .container {
        padding-top: 20vw;
    }
}

.topics-post-date {
    font-size: 1.2vw;
    color: #24362B;
    font-weight: 700;
    text-align: center;
}

.topics-title {
    font-size: 1.5vw;
    color: #24362B;
    font-weight: 700;
    text-align: center;
}

.topics-content {
    margin: 2vw;
    text-align: center;
    font-size: 1.2vw;
}

.product-title {
    margin-bottom: 0.8vw;
    font-size: 1.5em;
    color: #24362B;
    font-weight: 700;
}

.product-description-area {
    margin-top: 10vw;
}

.product-description {
    text-align: left;
    margin-bottom: 15vw;
}

@media screen and (max-width: 480px) {
    .product-title {
        text-align: center;
        font-size: 5vw;
        color: #5A5B3E;
    }
    .product-description {
        text-align: center;
        margin-bottom: 15vw;
    }
    .products-sub-title {
        margin: 1vw 0 6vw 0;
        text-align: center;
    }
}

.product-img {
    width: 90%;
    margin: 0 auto;
}

.shop-table {
    width: 100%;
}

#product-subimg {
    text-align: center;
    margin-top: 3vw;
    padding: 0px;
}

#product-subimg li {
    display: inline-block;
    width: 77px;
    margin: 5px;
    height: 77px;
}

#product-subimg li>img {
    height: inherit;
}

#product-subimg .current {
    box-shadow: 1px 0 5px 3px #888888;
}

.shop-link-table {
    margin-top: 4vw;
    width: 80%;
    margin-left: 70px;
}